@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    min-height: 100vh;
}

#header {
    position: absolute;
    width: 100%;
    height: 90px;
    left: 0;
    top: 0;
    padding: 28px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

    background: #1B1C43;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1300px) {
    #header .logo-img {
        width: 50px;
        height: 50px;
        margin-bottom: 15px;
    }
    #header .logo {
        visibility: hidden;
        display: none;
    }
    main .create-content .content-left p {
        display: none;
    }
    main .generate .generate-nft-img-1 {
        display: none;
    }
    main .generate .generate-nft-img-2 {
        display: none;
    }
    main .generate .generate-nft-scheme {
        display: none;
    }
    .about .content-left .nft-preview {
        display: none;
    }
}

@media screen and (max-width: 1600px) {
    .logo {
       display: none;
    }
    .about .content-left .nft-preview {
        display: none;
    }
   main .generate .generate-nft-img-1 {
        display: none;
    }
    main .generate .generate-nft-img-2 {
        display: none;
    }
    main .generate .generate-nft-scheme {
        display: none;
    }
}

@media screen and (max-width:  900px) {
    ul li {
        display: none;
    }
    main .about {
        display: none;
    }
    main .questions {
       display: none;
    }
    main .generate .content-info p {
        display: none;
    }
    main .content-left .title {
        display: none;
    }
    main .content-right .create-preview {
        margin-top: calc(25%);
    }
    main .header {
       display: none;
    }
}

#header .logo {
    position: absolute;
    width: 160px;
    height: 34px;
    margin-left: calc(5%);
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 27.8484px;
    line-height: 34px;
    text-decoration: none;
    /* identical to box height */


    color: #FFFFFF;
}

.B {
    position: absolute;
    /*left: calc(10.3%);*/
    /*top: calc(38%);*/
    margin-left: -34px;
    margin-top: 15px;

}

#header .navigations {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .navigations li {
    list-style: none;
    margin-left: 20px;
}

#header .navigations li a {
    text-decoration: none;
    padding: 6px 10px;
    color: #fff;
    border-radius: 20px;
    width: 82px;
    height: 21px;

    font-style: normal;
    font-weight: 700;
    font-size: 17.1813px;
    line-height: 21px;
    /* identical to box height */
}

#header .navigations li img {
    cursor: pointer;
}

#header .navigations li .btn-join-us {
    width: 109.08px;
    height: 51.33px;
    background: linear-gradient(82.16deg, #B04EFF -7.87%, #70E1FF 110.23%);
    border: 1px solid #000000;
    /*box-sizing: border-box;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25.6647px;
    font-style: normal;
    font-weight: 700;
    font-size: 17.1813px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
    cursor: pointer;
}

main .create-nft {
    position: relative;
}

main .create-nft img {
    position: relative;
    width: 100%;

}

main .create-nft .blur {
    /*position: absolute;*/
    width: 100%;
    /*height: 148.2%;*/
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
}
.header {
    width: 100%;
    height: 169px;
    display: table;
    text-align: center;
    background: linear-gradient(89.36deg, #A665FF -14.52%, #78CEFF 107.83%);
    background-blend-mode: soft-light;
}

.header h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 44.27px;
    line-height: 140%;
    display: table-cell;
	vertical-align: middle;
    /* identical to box height, or 62px */
    color: #FFFFFF;
}

main .about {
    position: relative;
}

main .about img {
    width: 100%;
}

main .about .blur {
    /*position: absolute;*/
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
}

main .questions {
    position: relative;
}

main .questions {
    /*position: absolute;*/
    width: 100%;
    height: 909px;

    background: #1B1C43;
}

main .my-area-header {
    /*position: absolute;*/
    width: 100%;
    height: 169px;
    display: table;
    text-align: center;
    background: #8668FF;
}

main .my-area-header h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 44.27px;
    line-height: 140%;
    /* identical to box height, or 62px */


    color: #FFFFFF;

    display: table-cell;
	vertical-align: middle;
}

main .my-area {
    position: relative;
    width: 100%;
    height: 909px;
    background: linear-gradient(69.21deg, #A172FF -58.15%, #81BDFF 107.17%);
}



main .create-content .content-right img {
    /*position: absolute;*/
    width: calc(100%);
    height: calc(100%);
    flex: 1;
    padding-top: calc(25%);
    filter: drop-shadow(43px 41px 31px rgba(0, 0, 0, 0.25));
    border-radius: 63px;
}

main .create-content .content-right {
    position: absolute;
    top: calc(9%);
    left: calc(65%);
}

main .create-content .content-left {
    position: absolute;
    min-height: 150%;
    flex: 1;
    padding-top: calc(10%);
    top: calc(8%);
    left: calc(15%);
}

main .create-content .content-left h1 {
    position: absolute;
    width: 500px;
    /*min-height: 100%;*/
    /*display: flex;*/

    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 140%;
    /* or 60px */


    color: #000000;

}

main .create-content .content-left p {
    position: absolute;
    width: 500px;
    min-height: 100%;
    margin-top: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    /* or 29px */


    color: #000000;
}

main .create-content .content-left a {
    position: absolute;
    width: 210px;
    height: 65.62px;
    cursor: pointer;
    top: calc(35%);
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    background: linear-gradient(85.89deg, #B04FFF -19.81%, #70E0FF 120.52%);
    box-shadow: 11px 13px 21px rgba(0, 0, 0, 0.25);
    border-radius: 32.8125px;
}

main .create-content .content-left a h1 {
    position: absolute;
    width: 134px;
    min-height: 100%;
    padding-top: 7%;
    font-style: normal;
    font-weight: 700;
    font-size: 25.125px;
    line-height: 140%;
    /* or 35px */


    color: #FFFFFF;
}

main .questions .questions-header {
    display: table;
    text-align: center;
    margin-top: calc(5%);
}

main .questions .questions-header h1 {
    display: table-cell;
	vertical-align: middle;
    font-style: normal;
    font-weight: 700;
    font-size: 44.27px;
    line-height: 140%;
    /* identical to box height, or 62px */

    text-transform: capitalize;

    color: #FFFFFF;
}

.about .nft-content .content-right {
    position: absolute;
    top: calc(20%);
    right: calc(15%);

}

.about .content-right h1 span {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 140%;
    /* or 60px */


    color: #6D0EF3;
}

.about .content-right h1 {
    width: 633px;
    min-height: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 140%;
    /* or 60px */


    color: #1B1C43;
}

.about .content-right p {
    width: 544px;
    height: 283px;

    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    /* or 29px */


    color: #000000;

}


.about .content-left .nft-preview {
    position: absolute;
    width: 534px;
    height: 534px;
    top: calc(20%);
    left: calc(15%);
    filter: drop-shadow(40px 40px 31px rgba(0, 0, 0, 0.25));
    border-radius: 63px;
}

.questions {
    position: static;
    width: 100%;
    height: 1150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: #1B1C43;
}


.pesontedan {
    position: relative;
    width: calc(70%);
    min-height: 80.02px;
    color: #f3f1f1;
    overflow: hidden;
    font-style: normal;
    font-weight: 700;
    font-size: 22.8471px;
    line-height: 28px;
    margin-bottom: 10px;

}

.pesontedan input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.pesontedan label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #353A75;
    border-radius: 40.0107px;
    line-height: 3;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    font-size: 22.8471px;
    /* identical to box height */


color: #FFFFFF;

}

.pesontedan-content {
    max-height: 0;
    overflow: hidden;
    background: #353A75;
    transition: max-height .40s;
    font-style: normal;
    font-weight: 400;
    font-size: 24.7125px;
    line-height: 140%;
    /* or 35px */


    color: #C8C8C8;
}

.pesontedan-content {
    background: #1B1C43;
    border-bottom-left-radius: 40.0107px;
    border-bottom-right-radius: 40.0107px;
}

.pesontedan-content p {
    margin: 1em;
    font-style: normal;
    font-weight: 400;
    font-size: 24.7125px;
    line-height: 140%;
}
/* :checked */
.pesontedan input:checked ~ .pesontedan-content {
  max-height: 100vh;
}

/* Icon */
.pesontedan label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .40s;
    -o-transition: all .40s;
    transition: all .40s;
}


.pesontedan input[type=checkbox] + label::after {
    color:#886EC5;
    content: "+";
}


.pesontedan input[type=radio] + label::after {
  content: "\25BC";
}

.pesontedan input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.pesontedan input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}


main  .my-area {
    position: relative;
}

main .my-area .course-header {
    text-align: center;
}

main .my-area .course-header h1 {
	vertical-align: middle;
    padding-top: calc(5%);
    font-style: normal;
    font-weight: 700;
    font-size: 44.27px;
    line-height: 140%;
    /* identical to box height, or 62px */

    text-transform: capitalize;

    color: #FFFFFF;
}


.courses-container {
    position: relative;
    width: 80%;
    display: flex;
    top: calc(10%);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}



.courses-container .card {
        position: relative;
        width: 329.45px;
        height: 437.3px;
        background: #FFFFFF;
        margin: 20px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        filter: drop-shadow(30px 30px 65px rgba(0, 0, 0, 0.25));
}

.courses-container .card .card-body {
    position: relative;
    align-items: center;
}

.courses-container .card img {
    height: 200px;
}

.courses-container .card .card-body h5 {
    width: 200px;
    height: 29px;
    margin-left: calc(8%);
    font-style: normal;
    font-weight: 700;
    font-size: 24.1176px;
    line-height: 29px;
    color: #1B1C43;
}

.courses-container .card .card-body p {
    width: 250px;
    height: 24px;
    margin-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19.4848px;
    line-height: 24px;
    /* identical to box height */


    color: #738492;
}

.courses-container .card .card-body a {
    position: absolute;
    width: 190.58px;
    height: 59.09px;
    text-align: center;
    padding-top: calc(5.5%);
    padding-left: calc(5%);
    margin-left: calc(4%);
    text-decoration: none;
    background: linear-gradient(86.38deg, #A667FF -24.38%, #7BC8FF 98.99%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 29.5473px;
    font-style: normal;
    font-weight: 700;
    font-size: 21.0277px;
    line-height: 26px;
    left: calc(12%);
    bottom: calc(10%);
    /* identical to box height */


color: #FFFFFF;
}

.vector-right {
    position: absolute;
    right: 0;
}

.vector-left {
    position: absolute;
    left: 0;
}

main .generate {
    position: relative;
}

main .generate img {
    position: relative;
    width: 100%;
}

main .generate .generate-header {
    position: absolute;
    width: 100%;
    height: 40px;
    text-align: center;
    top: calc(5%);

}

main .generate .generate-header h1 {
    /*position: absolute;*/
	vertical-align: middle;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 44.27px;
    line-height: 140%;
    /* identical to box height, or 62px */
    text-transform: capitalize;
    color: #2D2F89;

}

main .generate .content-info {
    width: 703px;
    position: absolute;
    top: calc(25%);
    left: calc(10%)
}
main .generate .content-info h1 {
    width: 626px;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 140%;
    /* or 60px */


    color: #1B1C43;
}

main .generate .content-info h1 span {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 140%;
    /* or 60px */


    color: #6D0EF3;
}

main .generate .content-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    /* or 29px */


    color: #000000;

}

main .generate .content-info .get-started {
    position: absolute;
    width: 264px;
    height: 66px;
    margin-top: calc(5%);
    text-decoration: none;
    background: linear-gradient(85.89deg, #B04FFF -19.81%, #70E0FF 120.52%);
    box-shadow: 11px 13px 21px rgba(0, 0, 0, 0.25);
    border-radius: 32.8125px
}

main .generate .content-info .get-started h1 {
    margin: 15px 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 25.125px;
    line-height: 140%;
    /* or 35px */


    color: #FFFFFF;
}

main .generate .generate-nft-img-1 {
    position: absolute;
    width: 268px;
    height: 268px;
    top: calc(5%);
    right: calc(10%);
    filter: drop-shadow(10.7305px 11.2539px 8.11328px rgba(0, 0, 0, 0.25));
    border-radius: 38.2857px;
}

main .generate .generate-nft-img-2 {
    position: absolute;
    width: 198px;
    height: 198px;;
    left: calc(15%);
    bottom: calc(15%);
    filter: drop-shadow(12.6844px 13.3031px 9.59062px rgba(0, 0, 0, 0.25));
    border-radius: 19.4906px;
}

main .generate .generate-nft-scheme {
    position: absolute;
    width: 705px;
    height: 401.23px;
    right: calc(20%);
    bottom: calc(20%);
}
