@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    min-height: 100vh;
}

#header {
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 0;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;

    background: #0b0d1c;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header .logo h4 {
    width: 71px;
    height: 29px;

    font-style: normal;
    font-weight: 700;
    font-size: 20.7242px;
    line-height: 140%;
    /* identical to box height, or 29px */


    color: #FFFFFF;

}

main {
    padding-top: 60px;
    width: 100%;
    height: 100%;
    background: #0b0d1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 1300px) {
    main {
        padding-left: 20px;
        padding-right: 20px;
    }
    main .middle-menu {
        min-width: 656px;
    }
    main .add-img-field{
        min-width: 656px;
    }
}

@media screen and (max-width: 1300px) {
    main .info-container {
        display: none;
    }
}


main .right-menu {
    width: 326px;
    height: 400px;
    /*margin: 0 auto;*/
    /*margin-top: 70px;*/
    /*margin-right: 400px;*/
    padding: 20px 10px;
    background: rgba(0, 33, 95, 0.5);
    border: 1.25px solid #686BFF;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 14.3708px;
    line-height: 140%;
    /* or 20px */


    color: #FFFFFF;
}

main .form-input {
    width: 304px;
    height: 39px;
    margin: 10px auto;
    border: 1.25px solid #4144C8;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 14.3708px;
    line-height: 140%;
    /* or 20px */

    background: rgba(0, 33, 95, 0.5);
    color: #FFFFFF;
}

main .form-input:focus {
    outline: none;
    background: rgba(0, 33, 95, 0.5);
    color: #FFFFFF;
}


main .right-menu .dimension {
    margin-top: 30px;
    text-align: center;
}

main .right-menu .dimension h3 {
/*position: absolute;*/
    width: 84px;
    height: 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 14.3708px;
    line-height: 140%;

    color: #FFFFFF;
}

main .right-menu .dimension-input {
    width: 149px;
    height: 39px;
    padding: 10px;
    background: rgba(0, 33, 95, 0.5);
    border: 1.25px solid #4144C8;
    box-sizing: border-box;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 14.3708px;
    line-height: 140%;
    /* or 20px */

    color: #FFFFFF;
}

main .right-menu .dimension-input:focus {
    outline: none;
    background: rgba(0, 33, 95, 0.5);
    color: #FFFFFF;
}

/*main .left-menu {*/
/*    position: absolute;*/
/*    width: 95%;*/
/*    top: 60px;*/
/*    left: 20px;*/
/*}*/

main .layer {
    position: relative;
    width: 326px;
    height: 46px;
    margin-top: 10px;
    background: #325DAF;
    border-radius: 6px;
    padding: 12px;
    z-index: 1;
    text-align: center;
}

main .layer h1 {
    width: 92px;
    height: 20px;

    /*font-family: 'Montserrat';*/
    font-style: normal;
    font-weight: 600;
    font-size: 14.4091px;
    line-height: 140%;
    /* or 20px */


    color: #FFFFFF;
}



main .new-layer-name {
    position: absolute;
    width: 246px;
    height: 26px;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    /*padding: 2px;*/
    background: #1D3D7A;
    border: rgba(0, 0, 0, 0);
    font-style: normal;
    font-weight: 600;
    font-size: 10.8752px;
    line-height: 140%;
    /* or 15px */


    color: #DDDDDD;
}


main .new-layer-name:focus  {
    outline: none;
}


main .layer button {
    position: absolute;
    outline: none;
    text-align: center;
    top: 15px;
    margin-left: 130px;
    background: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0);

}


main .seperator {
    /*position: absolute;*/
    width: 292px;
    height: 0;
    margin: 80px 10px;
    border: 1px solid #FFFFFF;
}


main .middle-menu {
    position: absolute;
    height: 89px;
    background: rgba(0, 0, 0, 0.55);
    top: 120px;
    margin: 0 30%;
    border: 1px solid #626262;
    box-sizing: border-box;
    border-radius: 6px;
    /*display: flex;*/
    justify-content: center;
}

/*main .middle-menu label {*/
/*    position: relative;*/
/*    width: 207px;*/
/*    height: 20px;*/
/*    !*top: 20px;*!*/
/*    margin-right: 150px;*/
/*    font-style: normal;*/
/*    font-weight: 600;*/
/*    font-size: 14.4091px;*/
/*    line-height: 140%;*/
/*    !* or 20px *!*/

/*    color: #FFFFFF;*/

/*}*/

/*main .middle-menu .note-label {*/
/*    display: inline-block;*/
/*    !*margin: 10px 270px;*!*/
/*    font-style: italic;*/
/*    font-weight: 600;*/
/*    font-size: 10.8986px;*/
/*    line-height: 140%;*/
/*    !* identical to box height, or 15px *!*/


/*    color: #FFFFFF;*/

/*}*/

main .add-img-field {
    height: 89px;
     /*outline: 2px dashed #5d5d5d;*/
     /*outline-offset: -12px;*/
    opacity: 0;
	overflow: hidden;
    z-index: -1;
}


main .btn-preview {
    position: absolute;
    width: 91px;
    height: 40px;
    right: 250px;
    background: #5D48FF;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4091px;
    line-height: 140%;
    border: rgba(0, 0, 0, 0);
    /* or 20px */


    color: #E3E0FF;
}

main .btn-generate-collection {
    position: absolute;
    width: 214px;
    height: 40px;
    right: 10px;
    background: #398CF0;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 14.4091px;
    line-height: 140%;
    border: rgba(0, 0, 0, 0);
    /* or 20px */


    color: #FFFFFF;
}


main .info-left {
    position: absolute;
    width: 666px;
    height: 48px;
    top: 60px;
    left: 30.8%;
    background: #4C58EE;
    border-radius: 6px;

}


main .info {
    position: absolute;
    width: 660px;
    height: 48px;
    top: 60px;
    left: 31.2%;
    padding: 14px 30px;
    background: linear-gradient(89.09deg, #9D7DFF -79.86%, #7CC7FF 142.56%);
    border-radius: 0px 6px 6px 0px;

}

main .info span {
    font-style: normal;
    font-weight: 600;
    font-size: 14.4091px;
    line-height: 140%;
    /* or 20px */


    color: #FFFFFF;
}

main .info span a {
    font-style: normal;
    font-weight: 600;
    font-size: 14.4091px;
    line-height: 140%;
    /* or 20px */


    color: #FFFFFF;
}
